<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/home/">Back</a>
    </nav>
{% for post in posts %}
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">{{ post.username }} posted: </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.text }}</h5>
      </div>
    </div>
{% endfor %} 
</body>

</html>